.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}
team {
        background-color: white;
}

@media only screen and (min-width: 450px), print{
    
    .tablet-desktop {
        display: block;
    }
    
    .mobile {
        display: none;
    }
    
    .hiring{
        text-align: center;
        font-size: 1.25em;
        font-style: italic;
        font-weight: bold;
        padding: 2%;
        background-color: rgba(204, 204, 204, 0.5);
        box-shadow: 5px 5px 0px #000;
        text-shadow: 5px 5px 5px #b3b3b3;
        border-radius: 0 15px;
    }
}

@media only screen and (min-width: 1015px), print{
    
}